.filterBlock{
    margin-top: 20px;
    color: white;
}
.filterText{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 0.938vw;
}
.filterText > div{
    font-size: 1.146vw;
    width: 30%;
}
.buttonCover{
    position: relative;
    white-space: nowrap;
}
.filterText button{
    position: absolute;
    top: 0;
    left: 0;

    border: none;
    border-radius: 5px;
    background-color: rgb(83, 83, 83)!important;;
    color: white!important;
    box-shadow: 0 0.1083333333333334vw 0.4166666666666667vw rgb(173 173 173);
}
.filterText button:hover{
    background-color: rgb(140, 140, 140);
    top: 1px;
    left: 1px;  
}