.header{
    position: relative;
    width: 100%;
    padding: 0 2.604166666666667vw;

    height: 5.208333333333334vw;
    background-color: rgb(90, 90, 90);
    box-shadow: 0 0.20833333333333334vw 0.4166666666666667vw rgb(68, 68, 68);
}

.droppableMenu{
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 20.833333333333336vw;
  background-color: #000;
  border-bottom: 5px solid white;
  border-right: 5px solid white;
  box-shadow: 0 0.20833333333333334vw 0.4166666666666667vw rgb(116, 116, 116);

  z-index: 15;
}

.droppableMenu ul{
  padding-left: 0;
  
  margin-block-start: 0;
  margin-block-end: 0;
}

.droppableMenu li{
  display: flex;
  align-items: center;
  justify-content: center;

  padding-top: 1.302166666666667vw;
  padding-bottom: 1.302166666666667vw;
  list-style: none;
  border-top: 1px solid rgba(255, 255, 255, 0.2); 
  min-height: 5.208333333333334vw;

  color: white;
}

.droppableMenu li:first-child{
  margin-top: 5.208333333333334vw;
}

.droppableMenu li a{
  text-align: center;
  font-size: 1.3020833333333335vw;
}

.droppableMenu li:hover {
  background-color: rgba(56, 56, 56, 0.2);
  cursor: pointer;
  text-shadow: 0 0.20833333333333334vw 0.8166666666666667vw rgb(182, 182, 182);
}

.headerInner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.enter{
    width: 5.208333333333334vw;
    height: 3vw;

    border-radius: 0.10416666666666667vw;
    background-color: rgb(128, 128, 128);
    border: none;
    color: rgb(255, 255, 255);
    font-size: 0.8333333333333334vw;
    font-family: 'Merriweather', serif;
}
.enter:hover{
    box-shadow: 0 0.20833333333333334vw 0.4166666666666667vw rgb(114, 114, 114);
    padding: 0;
}

.enter a{
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.headerMenuButton{
    display: inline-block;
    height: fit-content;
    z-index: 15;
}
.headerMenuButton:hover{
  cursor: pointer;
}

.droppableMenu.hidden{
  display: block;
}

.menuBar {
    width: 2.8125vw;
    height: 0.4vw;
    background-color: rgba(0, 0, 0, 0.3);
    transition: 0.4s;
}

.headerMenuButton:hover .menuBar{
  
    box-shadow: 0 0.20833333333333334vw 0.4166666666666667vw rgb(114, 114, 114);
}

.bar2 {
    margin: 0.78125vw 0;
}
.change .bar1 {
    background-color: rgb(255, 255, 255);
    -webkit-transform: rotate(-45deg) translate(-1.1458333333333333vw, 0.9375vw);
    transform: rotate(-45deg) translate(-0.9375vw, 0.625vw);
    width: 3.75vw;
}

.change .bar2 {
    opacity: 0; 
}

.change .bar3 {
    background-color: rgb(255, 255, 255);
    -webkit-transform: rotate(45deg) translate(-0.8333333333333334vw, -0.4166666666666667vw);
    transform: rotate(45deg) translate(-1.0416666666666665vw, -0.6770833333333334vw);
    width: 3.75vw;
}

.headerLogo{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    
}
.mainMenu{
  display: flex;
  justify-content: center;
  align-items: center;

  height: 5.20833vw;
  color: white;
}
.mainMenu ul{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-inline-start: 0;
  margin: 0;
  height: 100%;
}
.mainMenu ul li{
  display: flex;
  align-items: center;

  list-style: none;
  max-width: 12.2vw;
  border-left:  1px solid rgba(255, 255, 255, 0.2);
}
.mainMenu ul li:last-child{
  border-right:  1px solid rgba(255, 255, 255, 0.2);
}
.mainMenu a{
  display: flex;
  align-items: center;
  padding: 0 1.5vw;
  height: 100%;
  text-align: center;
  font-size: 0.9375vw;
  font-family: 'PT Sans Caption', sans-serif;

  text-decoration: none;
  color: rgb(255, 255, 255);
}
.mainMenu a:hover{
  cursor: pointer;
  color: rgba(255, 215, 0, 0.7);
  background-color: #555;
}
.mainMenu span{
  height: 5.208333333333334vw;
}

.headerLogo:hover{
    cursor: pointer;
}

.headerLogo:hover > .headerLogoText{
    text-shadow: 0 0.20833333333333334vw 0.4166666666666667vw rgb(114, 114, 114);
}

.headerLogo:hover > .headerLogoImg{
    box-shadow: 0 0.20833333333333334vw 0.4166666666666667vw rgb(114, 114, 114);
}

.headerLogoImg{
    height: 2.604166666666667vw;
    width: 2.604166666666667vw;
}
.headerLogoText{
    margin-left: 0.5208333333333333vw;

    text-transform: uppercase;
    font-family: 'Merriweather', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 2.7083333333333335vw;
    line-height: 2.864583333333333vw;

    color: rgb(255, 255, 255);
}

header a.active{
  color: gold;
}