*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article>*+* {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  background-image: url(./../public/img/background-texture.png);
}
#root{
  background: linear-gradient(to right, rgba(0, 0, 0, 0), 5%, rgba(0, 0, 0, 1), 95%, rgba(0, 0, 0, 0));
  min-height: 100vh;
}

button:hover {
  cursor: pointer;
}

#content-page.shadow {
  opacity: 5%;
}

.container {
  width: 100%;
  padding: 0 10.5208333333333333vw;
  margin: 0 auto;

  z-index: -1;
  font-family: 'PT Sans Caption', sans-serif;
}





