.shippingBlock{
    position: relative;
    height: 8.333vw;
    margin-bottom: 1.3vw;
}

.shippingCover{
    position: absolute;
    top: 0;
    left: 0;
    
    border-radius: 15px;
    padding: 10px 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    
    border: 1px solid #555;
    box-shadow: 0 0.60833333333333334vw 0.4166666666666667vw rgb(173, 173, 173);
    font-family: 'PT Sans Caption', sans-serif;
    background-color: white;
}
.shippingCover:hover{
    top: 5px;
    left: 5px;
    background-color: rgba(207, 207, 207, 1);
    cursor: pointer;
}
.mainBlock{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    font-size: 1vw;
}
.mainBlock > div{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.number{
    font-size: 1.56vw;
}
.area > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 0.52vw;
}